<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <!--Enlace con Vue.JS-->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        table,tr, td,button{
            border: 1px solid #000;
            font-size: 10px;
        }
    </style>
</head>
<body>
    <div id="contenedor">
    <center><h1 id="lista">Tabla lista de usuarios</h1></center>
    <button @click="action('Add',null)">
        Add
    </button>
        <table v-if="(inAction=='show')">
            <thead >
                <tr>
                    <td>
                        #Id
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        Password
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                        Address(street)
                    </td>
                    <td>
                        Address(suite)
                    </td>
                    <td>
                        Address(city)
                    </td>
                    <td>
                        Address(zipcode)
                    </td>
                    <td>
                        Address(geo.lat)
                    </td>
                    <td>
                        Address(Geo.lng)
                    </td>
                    <td>
                        Phone
                    </td>
                    <td>
                        Website
                    </td>
                    <td>
                        Company(name)
                    </td>
                    <td>
                        Company(catchPhras)
                    </td>
                    <td>
                        Company(bs)
                    </td>
                    <td>
                        Acciones
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="u in users">
                    <td>
                        {{u.id}}
                    </td>
                    <td>
                        {{u.name}}
                    </td>
                    <td>
                        {{u.username}}
                    </td>
                    <td>
                        {{u.password}}
                    </td>
                    <td>
                        {{u.email}}
                    </td>
                    <td>
                        {{u.address.street}}
                    </td>
                    <td>
                        {{u.address.suite}}
                    </td>
                    <td>
                        {{u.address.city}}
                    </td>
                    <td>
                        {{u.address.zipcode}}
                    </td>
                    <td>
                        {{u.address.geo.lat}}
                    </td>
                    <td>
                        {{u.address.geo.lng}}
                    </td>
                    <td>
                        {{u.phone}}
                    </td>
                    <td>
                        {{u.website}}
                    </td>
                    <td>
                        {{u.company.name}}
                    </td>
                    <td>
                        {{u.company.catchPhrase}}
                    </td>
                    <td>
                        {{u.company.bs}}
                    </td>
                    <td>
                        <button @click="action('edit',u)">
                            Edit
                        </button>
                        <button @click="remove(u.id)">
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form v-else action="">
            <fieldset>
                <label for="">Name</label><br>
                <input type="text" placeholder="name" v-model="name" required>
                <br><br>
                <label for="">Username</label><br>
                <input type="text" placeholder="username" v-model="username" required>
                <br><br>
                <label for="">Password</label><br>
                <input type="text" placeholder="password" v-model="password" required>
                <br><br>
                <label for="">Email</label><br>
                <input type="text" placeholder="email" v-model="email" required>
                <br><br>
                <label for="">Address(street)</label><br>
                <input type="text" placeholder="addressStreet" v-model="addressStreet" required>
                <br><br>
                <label for="">Address(suite)</label><br>
                <input type="text" placeholder="addressSuite" v-model="addressSuite" required>
                <br><br>
                <label for="">Address(city)</label><br>
                <input type="text" placeholder="addressCity" v-model="addressCity" required>
                <br><br>
                <label for="">Address(zipcode)</label><br>
                <input type="text" placeholder="addressZipcode" v-model="addressZipcode" required>
                <br><br>
                <label for="">Address(geo:lat)</label><br>
                <input type="text" placeholder="addressGeoLat" v-model="addressGeoLat" required>
                <br><br>
                <label for="">Address(geo:lng)</label><br>
                <input type="text" placeholder="addressGeoLng" v-model="addressGeoLng" required>
                <br><br>
                <label for="">Phone</label><br>
                <input type="text" placeholder="phone" v-model="phone" required>
                <br><br>
                <label for="">Website</label><br>
                <input type="text" placeholder="website" v-model="website" required>
                <br><br>
                <label for="">Company(name)</label><br>
                <input type="text" placeholder="companyName" v-model="companyName" required>
                <br><br>
                <label for="">Company(catchPhrase)</label><br>
                <input type="text" placeholder="companyCatchPhras" v-model="companyCatchPhrase" required>
                <br><br>
                <label for="">Company(bs)</label><br>
                <input type="text" placeholder="companyBs" v-model="companyBs" required>
                <br><br>
                <button @click="save" type="button">Save</button>
                <button @click="cancel" type="button">Cancel</button>
                <input type="hidden" v-model="id">
            </fieldset>
        </form>
    </div>
    <script type="text/javascript">
        const{createApp}=Vue;
        const app = createApp({
            data(){
                return{
                    users:null,
                    inAction:'show',
                    name:'',
                    username:'',
                    password:'',
                    email:'',
                    addressStreet:'',
                    addressSuite:'',
                    addressCity:'',
                    addressZipcode:'',
                    addressGeoLat:'',
                    addressGeoLng:'',
                    phone:'',
                    website:'',
                    companyName:'',
                    companyCatchPhrase:'',
                    companyBs:'',
                    id:0,
                }
            },
            methods:{
                action(m,u){
                    this.inAction=m;
                    if (m=='edit'){
                        this.name=u.name;
                        this.id=u.id;
                        this.username=u.username;
                        this.password=u.password;
                        this.email=u.email;
                        this.addressStreet=u.address.street;
                        this.addressSuite=u.address.suite;
                        this.addressCity=u.address.city;
                        this.addressZipcode=u.address.zipcode;
                        this.addressGeoLat=u.address.geo.lat;
                        this.addressGeoLng=u.address.geo.lng;
                        this.phone=u.phone;
                        this.website=u.website;
                        this.companyName=u.company.name;
                        this.companyCatchPhrase=u.company.catchPhrase;
                        this.companyBs=u.company.bs;
                    }else{
                        this.name='';
                        this.username='';
                        this.password='';
                        this.email='';
                        this.addressStreet='';
                        this.addressSuite='';
                        this.addressCity='';
                        this.addressZipcode='';
                        this.addressGeoLat='';
                        this.addressGeoLng='';
                        this.phone='';
                        this.website='';
                        this.companyName='';
                        this.companyCatchPhrase='';
                        this.companyBs='';
                        this.id=0;
                    }
                },
                cancel(){
                    this.inAction='show';
                },
                save(e){
                    e.preventDefault();
                    var access;

                    if(this.inAction=='edit'){
                            let id = this.id;
                            let name = this.name;
                            let username = this.username;
                            let password = this.password;
                            let email = this.email;
                            let addressStreet = this.addressStreet;
                            let addressSuite = this.addressSuite;
                            let addressCity = this.addressCity;
                            let addressZipcode = this.addressZipcode;
                            let addressGeoLat = this.addressGeoLat;
                            let addressGeoLng = this.addressGeoLng;
                            let phone = this.phone;
                            let website = this.website;
                            let companyName = this.companyName;
                            let companyCatchPhrase = this.companyCatchPhrase;
                            let companyBs = this.companyBs;
                            
                            access = this.users.map(function(u){
                                if(id == u.id){

                                    u.name=name;
                                    u.username=username;
                                    u.password=password;
                                    u.email=email;
                                    u.address.street=addressStreet;
                                    u.address.suite=addressSuite;
                                    u.address.city=addressCity;
                                    u.address.zipcode=addressZipcode;
                                    u.address.geo.lat=addressGeoLat;
                                    u.address.geo.lng=addressGeoLng;
                                    u.phone=phone;
                                    u.website=website;
                                    u.company.name=companyName;
                                    u.company.catchPhrase=companyCatchPhrase;
                                    u.company.bs=companyBs;

                                    swal("Se edito con exito","","success");

                                    return true;
                                }
                            })

                            if(access.includes(true)){
                                this.name='';
                                this.username='';
                                this.password='';
                                this.email='';
                                this.addressStreet='';
                                this.addressSuite='';
                                this.addressCity='';
                                this.addressZipcode='';
                                this.addressGeoLat='';
                                this.addressGeoLng='';
                                this.phone='';
                                this.website='';
                                this.companyName='';
                                this.companyCatchPhrase='';
                                this.companyBs='';
                                this.id=0;
                                this.inAction = 'show';
                            }else{
                                swal("Error al editar","XXX","error");
                            }

                    }else{
                        this.users.push({id:this.users.length+1,name:this.name,username:this.username,password:this.password,
                            email:this.email, address:{street:this.addressStreet,suite:this.addressSuite,
                            city:this.addressCity,zipcode:this.addressZipcode,geo:{lat:this.addressGeoLat,lng:this.addressGeoLng}}
                            ,phone:this.phone,website:this.website,company:{name:this.companyName,catchPhrase:this.companyCatchPhrase,
                            bs:this.companyBs}});
                        swal("Se añadio con exito","","success");
                            this.inAction = 'show';
                    }
                },
                remove(u){
                    swal("Se elimino con exito","","success");
                    this.users=this.users.filter(users => users.id != u);
                }
                
            },
            mounted(){
                fetch('users.json')
                .then((res) => res.json())
                .then((json) => (this.users = json))
                .catch((err) => (error.value = err))
                
            }

        }).mount('#contenedor')
    </script>
</body>
</html>
